
.cart-container {
    width: 62%;
    margin: auto;
  }
  
  .cart-card {
    width: 700px;
    margin: auto;
  }
  

  @media (max-width: 768px) {
    .cart-container {
      width: 95% !important;
    }
  
    .cart-card {
      width: 100% !important;
    }
  
    .card-body {
      text-align: center;
    }
  
    .btn-group-mobile {
      flex-direction: column;
      gap: 1rem;
    }
  }
  